In [ ]:
## This Book consist of Python Basics

In [1]:
print("hello python")

hello python

In [2]:
# The code was removed by Watson Studio for sharing.

  MsCode      HECCode      Estimate  RSE Flag
0   M003  Total Gross  2.441552e+09  NaN    R
1   M003    Total Net  2.370611e+09  NaN    R
2   M003           01  4.105492e+08  NaN    R
3   M003         01.1  4.136560e+07  NaN    R
4   M003      01.1.01  1.686880e+07  NaN    R